section.slide {
  position: relative;
  display: grid;
  place-content: center;
  scroll-snap-align: start;
  height: 100vh;
}

section.slide:nth-child(odd),
section.slide:nth-child(even) {
  background-image: url('../../assets/img/grey-bokeh.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section.slide:nth-child(odd) {
  background-color: #00C3A1;
}

section.slide:nth-child(even) {
  background-color: #009EB5;
}

section.slide:has(.introSlide) {
  background-color: transparent;
  background-image: none;
}

.slideContent {
  background: rgb(255 255 255 / 0.75);
  width: 90vw;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.introSlide {
  background: rgb(255 255 255 / 0.75);
  padding: 2rem 4rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 0.25);
}

.introSlide svg {
  width: 70vw;
}

.slideContent h2 {
  margin: 0 0 1rem 0;
}

/*

.introSlide {
  display: grid;
  place-content: center;
  text-align: center;
}

.slide:first-child .slideContent svg {
  width: 65vw;
}

.slide:first-child h1 {
  font-weight: 600;
}

.slide:first-child h2 {
  display: none;
}

.simpleBg {
  display: grid;
  place-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

section:nth-child(odd) .simpleBg {
  background: #f1f1f1;
}

section:nth-child(even) .simpleBg {
  background: #e1e1e1;
}

.slideContent {
  position: relative;
  background: #fff;
  min-height: 50vh;
  min-width: 75vw;
  max-width: 90vw;
  padding: 2rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  z-index: 1;
}

.slideContent > p > img {
  max-width: 75%;
}

.slide:nth-child(odd) {
  background: #f1f1f1;
}

.slide:nth-child(even) {
  background: #e1e1e1;
}

.slide h2 {
  margin: 0 0 1.5rem 0;
}

.slideNav {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 1rem;
  left: 0;
  right: 0;
  font-size: 1rem;
}

.slideNav a {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 1.25rem;
  color: #666;
}

.slideNav a:has(+ a) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.slideNav a + a {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
} */
