.toggle {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0.75rem;
}

.toggle svg {
  display: block;
  width: 32px;
  height: 32px;
  fill: #0c6cda;
}