.transition-btn {
  font-size: 1.75rem;
  padding: 0.5rem 1rem;
  border: none;
  background: #ff9900;
  color: #fff;
}

.transition-btn:hover {
  background: #ff3300;
  cursor: pointer;
}

.transition {
  transition: background-color 0.25s ease-out;
}

.controlled {
  transition: background-color 0s ease-out;
}

.controlled:hover {
  transition: background-color 0.5s ease-out;
}

/* tooltip */

.tooltip-example {
  position: relative;
  margin-top: 4rem;
}

.tooltip-example button {
  position: relative;
  z-index: 2;
}

.tooltip-example .example-tooltip {
  position: absolute;
  top: -10px;
  opacity: 0;
  background: #000;
  color: #fff;
  transition: all 0.1s ease-out;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
}

.tooltip-example button:hover + .example-tooltip {
  opacity: 1;
  top: -25px;
  transition: all 0.3s ease-out;
}

/* anim example */

@keyframes motion {
  0% {
    left: -10px;
    top: -10px;
  }
  25% {
    left: calc(100% - 10px);
    top: -10px;
  }
  50% {
    left: calc(100% - 10px);
    top: calc(100% - 10px);
  }
  75% {
    left: -10px;
    top: calc(100% - 10px);
  }
}

.anim-example {
  position: relative;
  width: 100px;
  height: 100px;
  border: 2px solid orange;
}

.anim-example > div {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 10px;
  animation: motion 3s ease-out infinite;
}